<xf:macro name="date_time_input_row"
		  arg-name="date_time"
		  arg-label=""
		  arg-explain=""
		  arg-hint=""
		  arg-timestamp="{{ $xf.time }}"
		  arg-dateTimeArr="{{ [] }}"
		  arg-readOnly="{{ false }}"
		  arg-showSeconds="{{ true }}"
		  arg-xfInit=""
		  arg-allInputAttrsHtml=""
		  arg-ymdInputAttrsHtml=""
		  arg-hhInputAttrsHtml=""
		  arg-mmInputAttrsHtml=""
		  arg-ssInputAttrsHtml=""
		  arg-tzInputAttrsHtml="">
	<xf:formrow label="{$label}" explain="{$explain}" hint="{$hint}" rowtype="input">
		<xf:macro name="date_time_input"
				  arg-name="{$name}"
				  arg-timestamp="{$timestamp}"
				  arg-dateTimeArr="{$dateTimeArr}"
				  arg-readOnly="{$readOnly}"
				  arg-showSeconds="{$showSeconds}"
				  arg-xfInit="{$xfInit}"
				  arg-allInputAttrsHtml="{$allInputAttrsHtml}"
				  arg-ymdInputAttrsHtml="{$ymdInputAttrsHtml}"
				  arg-hhInputAttrsHtml="{$hhInputAttrsHtml}"
				  arg-mmInputAttrsHtml="{$mmInputAttrsHtml}"
				  arg-ssInputAttrsHtml="{$ssInputAttrsHtml}"
				  arg-tzInputAttrsHtml="{$tzInputAttrsHtml}" />
	</xf:formrow>
</xf:macro>

<xf:macro name="date_time_input"
		  arg-name="date_time"
		  arg-timestamp="{{ $xf.time }}"
		  arg-dateTimeArr="{{ [] }}"
		  arg-readOnly="{{ false }}"
		  arg-showSeconds="{{ true }}"
		  arg-xfInit=""
		  arg-allInputAttrsHtml=""
		  arg-ymdInputAttrsHtml=""
		  arg-hhInputAttrsHtml=""
		  arg-mmInputAttrsHtml=""
		  arg-ssInputAttrsHtml=""
		  arg-tzInputAttrsHtml="">
	<xf:css src="svStandardLib_helper_macros_date_time_input.less" />

	<xf:set var="$selectedYMD" value="{{ $dateTimeArr.ymd ?: ($timestamp ? date($timestamp, 'picker') : '') }}" />
	<xf:set var="$selectedHour" value="{{ $dateTimeArr.hh ?: ($timestamp ? time($timestamp, 'H') : 0) }}" />
	<xf:set var="$selectedMinute" value="{{ $dateTimeArr.mm ?: ($timestamp ? time($timestamp, 'i') : 0) }}" />
	<xf:set var="$selectedSecond" value="{{ $dateTimeArr.ss ?: ($timestamp ? time($timestamp, 's') : 0) }}" />
	<xf:set var="$selectedTz" value="{{ $dateTimeArr.tz ?: $xf.visitor.timezone }}" />

	<div class="inputGroup-container inputGroup-containerSvStandardLibDateTime">
		<div class="inputGroup">
			<xf:macro name="date_time_wrapper" 
					  arg-name="{$name}[ymd]"
					  arg-weekStart="{{ $xf.language.week_start }}"
					  arg-readOnly="{{ $readOnly }}"
					  arg-attrsHtml="{{ ' value="' . $selectedYMD . '" ' . $allInputAttrsHtml . $ymdInputAttrsHtml }}"
					  />

			<span class="inputGroup-text">
				{{ phrase('svStandardLib_at:') }}
			</span>

			<select class="input input--inline input--autoSize" name="{$name}[hh]" {{ $readOnly ? 'disabled="disabled"' : '' }} {{ $allInputAttrsHtml|raw }} {{ $hhInputAttrsHtml|raw }}>
				<xf:foreach loop="{{ range(0, 23, 1) }}" value="$hour">
					<xf:set var="$readableHour" value="{{ $hour|pad('0', 2) }}" />
					<option value="{$hour}" {{ $readableHour === $selectedHour ? 'selected="selected"' : '' }}>{$readableHour}</option>
				</xf:foreach>
			</select>

			<span class="inputGroup-text">:</span>

			<select class="input input--inline input--autoSize" name="{$name}[mm]" {{ $readOnly ? 'disabled="disabled"' : '' }} {{ $allInputAttrsHtml|raw }} {{ $mmInputAttrsHtml|raw }}>
				<xf:foreach loop="{{ range(0, 59, 1) }}" value="$minute">
					<xf:set var="$readableMinute" value="{{ $minute|pad('0', 2) }}" />
					<option value="{$minute}" {{ $readableMinute === $selectedMinute ? 'selected="selected"' : '' }}>{$readableMinute}</option>
				</xf:foreach>
			</select>

			<xf:if is="$showSeconds">
			<span class="inputGroup-text">:</span>

			<select class="input input--inline input--autoSize" name="{$name}[ss]" {{ $readOnly ? 'disabled="disabled"' : '' }} {{ $allInputAttrsHtml|raw }}  {{ $ssInputAttrsHtml|raw }}>
				<xf:foreach loop="{{ range(0, 59, 1) }}" value="$second">
					<xf:set var="$readableSecond" value="{{ $second|pad('0', 2) }}" />
					<option value="{$second}" {{ $readableSecond === $selectedSecond ? 'selected="selected"' : '' }}>{$readableSecond}</option>
				</xf:foreach>
			</select>
			</xf:if>
		</div>

		<div class="inputGroup">
			<select class="input" name="{$name}[tz]" {{ $readOnly ? 'disabled="disabled"' : '' }} {{ $allInputAttrsHtml|raw }} {{ $tzInputAttrsHtml|raw }}>
				<xf:foreach loop="{{ $xf.app.data('XF:TimeZone').getTimeZoneOptions() }}" key="$value" value="$readableTz">
					<option value="{$value}"{{ $value === $selectedTz ? 'selected="selected"' : '' }}>{$readableTz}</option>
				</xf:foreach>
			</select>
		</div>
	</div>
</xf:macro>

<xf:macro name="date_time_wrapper"
		  arg-name="!"
		  arg-weekStart="!"
		  arg-readOnly="{{ false }}"
		  arg-class=""
		  arg-xfInit=""
		  arg-attrsHtml=""
		  >
	<xf:if is="$xf.versionId >= 2020000">
		<xf:js prod="xf/date_input-compiled.js" dev="vendor/pikaday/pikaday.js, xf/date_input.js" />
	</xf:if>

	<div class="inputGroup inputGroup--date inputGroup--joined inputDate">
		<input type="text" class="input input--date {$class}" autocomplete="off" data-xf-init="date-input {$xfInit}"
			data-week-start="{$weekStart}"
			{{ $readOnly ? 'readonly' : '' }}
			name="{$name}"
			{$attrsHtml|raw} />
		<span class="inputGroup-text inputDate-icon js-dateTrigger"></span>
	</div>
</xf:macro>

<xf:macro name="relative_timestamp_prerequisites">
	<xf:js src="sv/vendor/moment/moment.js" addon="SV/StandardLib" min="1" />
	<xf:js src="sv/lib/relative_timestamp.js" addon="SV/StandardLib" min="1" />
</xf:macro>

<xf:macro name="relative_timestamp"
		  arg-class=""
		  arg-timeStr="!"
		  arg-otherTimestamp="!"
		  arg-triggerEvent="{{ null }}"
		  arg-triggerEventOnSelector="{{ null }}"
		  arg-maximumDateParts="{{ 0 }}"
		  arg-countUp="{{ false }}"><xf:trim>
	<xf:macro name="relative_timestamp_prerequisites" />
	
	<span {{ $class is not empty ? 'class="' . $class|for_attr . '" ' : ''}}data-xf-init="sv-standard-lib--relative-timestamp"
		  data-count-up="{{ $countUp ? 'true' : 'false' }}"
		  data-timestamp="{$otherTimestamp}"
		  data-date-format="{$xf.language.date_format}"
		  data-time-format="{$xf.language.time_format}"
		  data-maximum-date-parts="{$maximumDateParts}"
		  {{ $triggerEvent is not empty ? 'data-trigger-event="' . $triggerEvent|for_attr . '" ' . ($triggerEventOnSelector is not empty ? ' data-trigger-event-on-selector="' . $triggerEventOnSelector|for_attr . '" ' : '') : '' }}><xf:trim>
		{$timeStr}
	</xf:trim></span>
</xf:trim></xf:macro>