<xf:macro name="date_time_input"
		  arg-name="date_time"
		  arg-label=""
		  arg-explain=""
		  arg-hint=""
		  arg-timestamp="{{ $xf.time }}"
		  arg-dateTimeArr="{{ [] }}"
		  arg-readOnly="{{ false }}">
	<xf:css src="svStandardLib_helper_macros_date_time_input.less" />
	
	<xf:set var="$selectedYMD" value="{{ $dateTimeArr.ymd ?: ($timestamp ? date($timestamp, 'picker') : '') }}" />
	<xf:set var="$selectedHour" value="{{ $dateTimeArr.hh ?: ($timestamp ? time($timestamp, 'H') : 0) }}" />
	<xf:set var="$selectedMinute" value="{{ $dateTimeArr.mm ?: ($timestamp ? time($timestamp, 'i') : 0) }}" />
	<xf:set var="$selectedSecond" value="{{ $dateTimeArr.ss ?: ($timestamp ? time($timestamp, 's') : 0) }}" />
	<xf:set var="$selectedTz" value="{{ $dateTimeArr.tz ?: $xf.visitor.timezone }}" />
	
	<xf:formrow label="{$label}" explain="{$explain}" hint="{$hint}" rowtype="input svStandardLibDateTime">
		<div class="inputGroup-container">
			<div class="inputGroup">
				<xf:dateinput name="{$name}[ymd]" value="{$selectedYMD}" readonly="{$readOnly}" />
				
				<span class="inputGroup-text">
					{{ phrase('svStandardLib_at:') }}
				</span>
				
				<xf:select name="{$name}[hh]" value="{$timestampOrDateTimeArr.hh}" class="input--inline input--autoSize" disabled="{$readOnly}">
					<xf:foreach loop="{{ range(0, 23, 1) }}" value="$hour">
						<xf:set var="$readableHour" value="{{ $hour|pad('0', 2) }}" />
						<xf:option value="{$hour}" label="{$readableHour}" selected="{{ $readableHour === $selectedHour }}" />
					</xf:foreach>
				</xf:select>
				
				<span class="inputGroup-text">:</span>
				
				<xf:select name="{$name}[mm]" value="{$timestampOrDateTimeArr.mm}" class="input--inline input--autoSize" disabled="{$readOnly}">
					<xf:foreach loop="{{ range(0, 59, 1) }}" value="$minute">
						<xf:set var="$readableMinute" value="{{ $minute|pad('0', 2) }}" />
						<xf:option value="{$minute}" label="{$readableMinute}" selected="{{ $readableMinute === $selectedMinute }}" />
					</xf:foreach>
				</xf:select>
				
				<span class="inputGroup-text">:</span>
				
				<xf:select name="{$name}[ss]" value="{$timestampOrDateTimeArr.ss}" class="input--inline input--autoSize" disabled="{$readOnly}">
					<xf:foreach loop="{{ range(0, 59, 1) }}" value="$second">
						<xf:set var="$readableSecond" value="{{ $second|pad('0', 2) }}" />
						<xf:option value="{$second}" label="{$readableSecond}" selected="{{ $readableSecond === $selectedSecond }}" />
					</xf:foreach>
				</xf:select>
			</div>
			
			<div class="inputGroup">
				<xf:select name="{$name}[tz]" value="{$selectedTz}" disabled="{$readOnly}">
					<xf:options source="{{ $xf.app.data('XF:TimeZone').getTimeZoneOptions() }}" />
				</xf:select>
			</div>
		</div>
	</xf:formrow>
</xf:macro>