<xf:macro name="date_time_input_row"
		  arg-name="date_time"
		  arg-label=""
		  arg-explain=""
		  arg-hint=""
		  arg-timestamp="{{ $xf.time }}"
		  arg-dateTimeArr="{{ [] }}"
		  arg-readOnly="{{ false }}"
		  arg-showSeconds="{{ true }}"
		  arg-xfInit=""
		  arg-allInputAttrsHtml=""
		  arg-ymdInputAttrsHtml=""
		  arg-hhInputAttrsHtml=""
		  arg-mmInputAttrsHtml=""
		  arg-ssInputAttrsHtml=""
		  arg-tzInputAttrsHtml="">
	<xf:formrow label="{$label}" explain="{$explain}" hint="{$hint}" rowtype="input">
		<xf:macro name="date_time_input"
				  arg-name="{$name}"
				  arg-timestamp="{$timestamp}"
				  arg-dateTimeArr="{$dateTimeArr}"
				  arg-readOnly="{$readOnly}"
				  arg-showSeconds="{$showSeconds}"
				  arg-xfInit="{$xfInit}"
				  arg-allInputAttrsHtml="{$allInputAttrsHtml}"
				  arg-ymdInputAttrsHtml="{$ymdInputAttrsHtml}"
				  arg-hhInputAttrsHtml="{$hhInputAttrsHtml}"
				  arg-mmInputAttrsHtml="{$mmInputAttrsHtml}"
				  arg-ssInputAttrsHtml="{$ssInputAttrsHtml}"
				  arg-tzInputAttrsHtml="{$tzInputAttrsHtml}" />
	</xf:formrow>
</xf:macro>

<xf:macro name="date_time_input"
		  arg-name="date_time"
		  arg-timestamp="{{ $xf.time }}"
		  arg-dateTimeArr="{{ [] }}"
		  arg-readOnly="{{ false }}"
		  arg-showSeconds="{{ true }}"
		  arg-xfInit=""
		  arg-allInputAttrsHtml=""
		  arg-dateInputAttrsHtml=""
		  arg-timeInputAttrsHtml=""
		  arg-tzInputAttrsHtml="">
	<xf:css src="svStandardLib_helper_macros_date_time_input.less" />

	<xf:set var="$selectedDate" value="{{ $dateTimeArr.ymd ?: ($timestamp ? date($timestamp, 'Y-m-d') : '') }}" />
	<xf:set var="$selectedTz" value="{{ $dateTimeArr.tz ?: $xf.visitor.timezone }}" />

	<xf:if is="{{ ($dateTimeArr.hh !== null) || ($dateTimeArr.mm !== null) || ($dateTimeArr.ss !== null) }}">
		<xf:set var="$selectedTime" value="{{ ($dateTimeArr.hh ?: '') . ':' . ($dateTimeArr.mm ?: '') . ':' . ($showSeconds ? ($dateTimeArr.ss ?: '') : '') }}" />
	<xf:else />
		<xf:set var="$selectedTime" value="{{ $timestamp ? time($timestamp, ('H:i' . ($showSeconds ? ':s' : ''))) : '' }}" />
	</xf:if>

	<div class="inputGroup-container inputGroup-containerSvStandardLibDateTime">
		<div class="inputGroup">
			<xf:macro name="base_date_time_input"
					  arg-name="{$name}[ymd]"
					  arg-type="date"
					  arg-readOnly="{{ $readOnly }}"
					  arg-value="{$selectedDate}"
					  arg-attrsHtml="{{ $allInputAttrsHtml . $dateInputAttrsHtml }}" />

			<span class="inputGroup-text">
				{{ phrase('svStandardLib_at:') }}
			</span>
			
			<xf:macro name="base_date_time_input"
					  arg-name="{$name}[ymd]"
					  arg-type="time"
					  arg-readOnly="{{ $readOnly }}"
					  arg-value="{$selectedTime}"
					  arg-attrsHtml="{{ $allInputAttrsHtml . $timeInputAttrsHtml  . 'step="1"' }}" />
		</div>

		<div class="inputGroup">
			<select class="input" name="{$name}[tz]" {{ $readOnly ? 'disabled="disabled"' : '' }} {{ $allInputAttrsHtml|raw }} {{ $tzInputAttrsHtml|raw }}>
				<xf:foreach loop="{{ $xf.app.data('XF:TimeZone').getTimeZoneOptions() }}" key="$value" value="$readableTz">
					<option value="{$value}"{{ $value === $selectedTz ? 'selected="selected"' : '' }}>{$readableTz}</option>
				</xf:foreach>
			</select>
		</div>
	</div>
</xf:macro>

<xf:macro name="base_date_time_input"
		  arg-name="!"
		  arg-type="!"
		  arg-value="{{ null }}"
		  arg-readOnly="{{ false }}"
		  arg-class=""
		  arg-xfInit=""
		  arg-attrsHtml="">
	<input type="{$type}" {{ $value ? 'value="' . $value . '"' : '' }}
		   class="input input--{$type} {$class}" autocomplete="off"
		   {{ $readOnly ? 'readonly' : '' }}
		   data-xf-init="{$xfInit}"
		   {$attrsHtml|raw} />
</xf:macro>

<xf:macro name="relative_timestamp_prerequisites">
	<xf:js src="sv/vendor/moment/moment.js" addon="SV/StandardLib" min="1" />
	<xf:js src="sv/lib/relative_timestamp.js" addon="SV/StandardLib" min="1" />
</xf:macro>

<xf:macro name="relative_timestamp"
		  arg-class=""
		  arg-timeStr="!"
		  arg-otherTimestamp="!"
		  arg-triggerEvent="{{ null }}"
		  arg-triggerEventOnSelector="{{ null }}"
		  arg-maximumDateParts="{{ 0 }}"
		  arg-countUp="{{ false }}"><xf:trim>
	<xf:macro name="relative_timestamp_prerequisites" />

	<span {{ $class is not empty ? 'class="' . $class|for_attr . '" ' : ''}}data-xf-init="sv-standard-lib--relative-timestamp"
		  data-count-up="{{ $countUp ? 'true' : 'false' }}"
		  data-timestamp="{$otherTimestamp}"
		  data-date-format="{$xf.language.date_format}"
		  data-time-format="{$xf.language.time_format}"
		  data-maximum-date-parts="{$maximumDateParts}"
		  {{ $triggerEvent is not empty ? 'data-trigger-event="' . $triggerEvent|for_attr . '" ' . ($triggerEventOnSelector is not empty ? ' data-trigger-event-on-selector="' . $triggerEventOnSelector|for_attr . '" ' : '') : '' }}><xf:trim>
		{$timeStr}
	</xf:trim></span>
</xf:trim></xf:macro>