<xf:title>{$template.title} - {{ count($activeMods)|number }}/{{ count($mods)|number }} - {{ phrase('template_modifications') }}</xf:title>

<xf:page option="breadcrumbPath" value="styles" />

<xf:breadcrumb href="{{ link('styles/templates', $style, {'type': $template.type}) }}">{$style.title} - {{ phrase('templates') }}</xf:breadcrumb>
<xf:breadcrumb href="{{ link('templates/edit', $template, {'type': $template.type, 'style_id': $style.style_id}) }}">{$template.title}</xf:breadcrumb>

<xf:css src="public:diff.less" />
<xf:macro template="public:prism_macros" name="setup" />

<xf:form action="{{ link('templates/view-modifications', $template, {'type': $template.type, 'style_id': $style.style_id}) }}"
		 class="block"
		 ajax="{$_xfWithData}" >
	<div class="block-container">
		<div class="block-body">
			<xf:checkboxrow rowtype="fullWidth noLabel">
				<xf:foreach loop="$mods" value="$mod">
					<xf:option name="id[]"
							   value="{$mod.modification_id}"
							   checked="{{ $activeMods.{$mod.modification_id} ? 'checked' : '' }}"
							   label="{{ $mod.addon_id ? $mod.addon_id . ' - ' : '' }}{{ $mod.modification_key }} - {{ $mod.description }} (<a href='{{ link('template-modifications/edit', $mod) }}'>Edit</a>)" >
						<xf:hint>{$status.{$mod->modification_id}}</xf:hint>
					</xf:option>
				</xf:foreach>
			</xf:checkboxrow>
		</div>
		
		<xf:hiddenval name="reload">1</xf:hiddenval>
		<xf:submitrow rowtype="simple" submit="{{ phrase('svStandardLib_reload') }}" />
	</div>
</xf:form>

<div class="block">
	<div class="block-container">
		<h2 class="block-tabHeader tabs hScroller" data-xf-init="tabs h-scroller" data-state="replace" role="tablist">
			<span class="hScroller-scroll">
				<!--[SV/StandardLib:tabs:start]-->
				<span class="tabs-tab is-active" role="tab"
				   id="template-contents"
				   aria-controls="template-contents">{{ phrase('svStandardLib_template_contents') }}</span>
				
				<span class="tabs-tab" role="tab"
				   id="compiled-template-code"
				   aria-controls="compiled-template-code">{{ phrase('svStandardLib_compiled_template_code') }}</span>
				<!--[SV/StandardLib:tabs:end]-->
			</span>
		</h2>
		
		<ul class="tabPanes">
			<!--[SV/StandardLib:tab_panes:start]-->
			<li class="is-active" role="tabpanel" aria-labelledby="template-contents">
				<div class="block-body block-row block-body--contained">
					<ol class="diffList diffList--code">
						<xf:foreach loop="$diffs" value="$diff">
							<xf:set var="$diffHtml">{{ $diff.1|join('<br />') }}</xf:set>
							<li class="diffList-line diffList-line--{$diff.0}">{{ trim($diffHtml) !== '' ? $diffHtml : '&nbsp;' }}</li>
						</xf:foreach>
					</ol>
				</div>
			</li>
			<li role="tabpanel" aria-labelledby="compiled-template-code">
				<div class="block-body block-row block-body--contained"><pre class="bbCodeCode" dir="ltr" data-xf-init="code-block" data-lang="php"><code>{$compiledTemplate}</code></pre></div>
				
				<xf:if contentcheck="true">
					<h3 class="block-minorHeader">{{ phrase('svStandardLib_compiler_errors:') }}</h3>
					<ol class="block-body block-body--contained">
						<xf:contentcheck><xf:trim>
							<xf:foreach loop="$compilerErrors" value="$compilerError">
								<li class="block-row block-row--separated">{$compilerError}</li>
							</xf:foreach>
						</xf:trim></xf:contentcheck>
					</ol>
				</xf:if>
			</li>
			<!--[SV/StandardLib:tab_panes:end]-->
		</ul>
	</div>
</div>